@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'social-share-button';

ul li{
  list-style:none;
}
ul.dropdown-cart{
  min-width: 250px;
}
ul.dropdown-cart li .item{
  display: block;
  padding: 3px 10px;
  margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
  background-color: #f3f3f3;
}
ul.dropdown-cart li .item:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
ul.dropdown-cart li .item-left{
  float: left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
  float: left;
}
ul.dropdown-cart li .item-left span.item-info{
  margin-left: 10px;
}
ul.dropdown-cart li .item-left span.item-info span{
  display: block;
}
ul.dropdown-cart li .item-right{
  float: right;
}
ul.dropdown-cart li .item-right button{
  margin-top: 14px;
}
.page-content{
  padding-top: 60px;
}
.user-drop{
  color: #777;
  margin-top: 5px;
}
.footer{
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: black;
}
.footer img{
  display: inline-block;
}
ul.footer_nav{
  padding: 0;
  margin: 1em 0;
  list-style: none;
}
ul.footer_nav li{
  display: inline-block;
}
ul.footer_nav li a:hover{
  text-decoration: none;
  color: white;
}
ul.footer_nav li a {
  margin: 0 4px;
  color: red;
}
.sign-up{
  float: right;
  margin-top: 15px;
}
.log-in{
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}
.dropdown{
  float: right;
  margin-top: 15px;
  margin-right: 30px;
}
.index{
  margin-top: 70px;
  margin-bottom: 5%;
}
.clr{
  clear: both;
}
table th, table td {
  height: 30px;
  border: 1px solid black;
  padding: 10px;
  width: 100px;
}
.center{
  text-align: center;
}
.index-product img{
  width: 200px;
  height: 150px;
}
.image-product a img{
  width: 320px;
  height: 150px;
}
.product-right{
  float: left;
  margin-left: 50px;
}
.show-image a img{
  width: 500px;
  height: 300px;
  float: left;
}
.avatar-index img{
  width: 150px;
  height: 100px;
  float: left;
  margin-right: 20px;
}
.name-user-index{
  float: left;
}
.user{
  margin-bottom: 30px;
}
.avatar-show img{
  height: 200px;
  width: 250px;
  float: left;
  margin-right: 20px;
}
.user-show{
  float: left;
}
.avatar-comment img{
  width: 100px;
  height: 50px;
  float: left;
  margin-bottom: 20px;
}
.cmt-content{
  float: left;
  margin-left: 20px;
}
.comment-content{
  margin-bottom: 20px;
}
.avatar-cmt-form img{
  width: 70px;
  height: 40px;
  float: left;
}
.form-cmt{
  float: left;
  margin-left: 20px;
}
.image-cart img{
  width: 150px;
  height: 100px;
}
.quantity{
  width: 70px;
}
.header-menu-number {
  line-height: 15px;
  font-weight: 700;
  background: #e64c65;
  border-radius: 100%;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  color: #fff;
  text-decoration: none;
  width: 25px;
  height: 25px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#shopping-cart{
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}
